<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
    The <a href="https://github.com/mikev-duff/duff_rails_springboard">Duff Rails Springboard</a>
    is a starting point for Duff Rails projects.
    Includes sign-in/sign-out/sign-up, authentication, authorization, secure passwords, SSL, and reasonable CSS styles.
    Ready to deploy on Heroku.  Check out the <a href="https://github.com/mikev-duff/duff_rails_springboard/blob/master/README.md">README</a>
    for more info.
</p>