<div class="center hero-unit">
    <h1>Welcome to the Duff Rails Springboard</h1>

    <h2>
        This is the home page for the
        <a href="https://github.com/mikev-duff/duff_rails_springboard">Duff Rails Springboard</a>
        sample application.  Now go fork yourself and build something with it!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("duff-logo.png", alt: "Duff"), 'http://www.duffresearch.com' %>